// Font Style
@mixin font-style($fontFamily, $fontSize, $fontWeight, $lineHeight, $color) {
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
    color: $color;
}

// Center Block
@mixin center-block() {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Position
@mixin position($position, $top, $right, $bottom, $left) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

// Flex
@mixin flex($justify: center, $align: center, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

// Media Queries
@mixin media($breakpoint) {
    $size: map-get($breakpoints, $breakpoint);

    @if ($size) {
        @media #{$size} {
            @content;
        }
    } @else {
        @error '"#{$breakpoint}" - ERROR';
    }
}
