//colors
$color-white: #ffffff;
$color-dark: #202124;
$color-grey: #4f525a;
$color-background: #fafafa;
$color-primary: #f38f3d;
$color-secondary: #e76f51;
$color-border: #cecece;
$color-link: #d9f0ff;
//Fonts
$base-font-size: 62.5%;

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Lato', sans-serif;

$main-spacing: 20px;
$max-width: 1200px;

//media
$breakpoints: (
  xsmall: (
    min-width: 460px,
  ),
  small: (
    min-width: 640px,
  ),
  medium: (
    min-width: 768px,
  ),
  large: (
    min-width: 1024px,
  ),
  xlarge: (
    min-width: 1200px,
  ),
  xxlarge: (
    min-width: 1440px,
  ),
);
