.boxes {
    min-height: 100vh;
    padding: 4rem 0 6rem 0;

    &__container {
        padding: 0 3rem;
        @include flex(center, center, column);
    }

    &__text {
        @include flex(center, center, column);
        text-align: center;
        padding-bottom: 6rem;
    }

    &__title {
        color: $color-dark;
    }

    &__elements {
        @include flex(space-evenly, center, row);
        flex-wrap: wrap;
    }
}

.box {
    opacity: 0;
    flex: 1 1 45rem;
    margin: 1rem;
    padding: 1rem;
    @include flex(center, center, column);
    text-align: center;
    border: 1px solid $color-border;
    background-color: $color-white;

    &__circle {
        width: 10rem;
        height: 10rem;
        background-color: $color-primary;
        border-radius: 50%;
        margin: 3rem 1rem;
        @include flex();

        &:hover .box__img {
            transform: scale(1.2);
        }
    }

    &__img {
        transition: transform 0.2s;
    }

    &__title {
        color: $color-grey;
    }

    &__description {
        color: $color-grey;
        padding-bottom: 2rem;
    }
}
